$titles_color: rgb(95, 99, 104);
$header_border_color: rgba(151,151,151, 0.5);
$current_li_color: rgb(51, 103, 214);
$questions_color: #3c4043;
$answers_color: rgba(0,0,0, 0.87);
$footer_bg_color: #f5f5f5;
